.text-rotate {
  display: inline-flex;
  flex-wrap: wrap;
  white-space: pre;
  position: relative;
  will-change: transform;
  transform: translateZ(0);
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  will-change: transform;
  transform: translateZ(0);
}

.text-rotate-word {
  display: inline-flex;
  will-change: transform;
  transform: translateZ(0);
}

.text-rotate-element {
  display: inline-block;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.text-rotate-space {
  white-space: pre;
}

